@font-face {
  font-family: "Latin Modern Mono Prop Light";
  src: url("./fonts/LatinModernMonoPropLight.otf") format("opentype"); /* Adjust file extension */
  font-weight: normal;
  font-style: normal;
}

.App {
  min-height: 100vh;
  background-color: #ffffff;
  color: #333333;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: default;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.dark .App-link {
  color: #bb86fc;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App.dark {
  background-color: #333333;
  color: #ffffff;
}
